**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.db
**/*.db-journal
**/bin
**/build
**/dist
**/node_modules
**/obj
**/out
